body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #000000;
}
.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
label, input, button {
  display: block;
  margin-top: 10px;
  width: 100%;
  white-space: nowrap;
}
select {
  display: block;
  margin-top: 10px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}
.result {
  margin-top: 20px;
  font-weight: bold;
}
hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}
.back-link:hover {
  color: #005fa3;
}

.logo {
  width: auto;
  max-width: 200px;
  height: auto;
  margin: 20px auto;
  display: block;
}

h1 {
  font-size: 2rem;
  white-space: nowrap;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
}
