body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}
.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
label, input, select, button {
  display: block;
  margin-top: 10px;
  width: 100%;
}
.result {
  margin-top: 20px;
  font-weight: bold;
}
hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}
.back-link:hover {
  color: #005fa3;
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 20px auto;
  display: block;
}

